source ~/.config/vim/base.vim

" use IDEA Find
nnoremap / :<C-u>action Find<CR>

" use IDEA jump
nnoremap <C-o> :<C-u>action Back<CR>
nnoremap <C-i> :<C-u>action Forward<CR>
nnoremap <C-S-o> <C-o>
nnoremap <C-S-i> <C-i>

" go to impl
nnoremap gi :<C-u>action GotoImplementation<CR>

set backspace=indent,eol,start
set ideajoin
