/.vscode/
/fish/*
!/fish/functions/
/fish/functions/*
!/fish/functions/fzflocate.fish
!/fish/functions/gi.fish
!/fish/config.fish
!/fish/fishfile
vim/.vim/autoload/plug.vim
vim/.vim/.netrwhist
nvim/.netrwhist
